h1{
    color: white;
    line-height:0.7em;
    text-align: center;
    font-family: 'Courier New', 'monospace';
  }
body{
  background-color: #AED9E0;
  font-family: 'Courier New', 'monospace';
  color: white;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin-top: -4px;
}



.progress {
  height: 20px;
  text-align: center;
  background-color:#FF6B6B;
  color:black;
}

progress::-webkit-progress-value { background: #FF6B6B; color:black; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Style for the tabs */
.tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin-left: 2%;
}

.tab.active {
  opacity: 1;
}

.tab.inactive {
  opacity: 0.5;
}

/* Style for the content containers */
.content-container {
  border-radius:10%;
}

.content {
  display: none; /* Hide all content initially */
}

.topLevelContainer {
  padding-bottom:5%;
  border-radius: 10%;
}

#fillRow {
  border-radius: 3%;
}

.item-row {
  padding: 10px;
}

.btn {
  border-radius:5%;
}

.squareBtn {
  border-radius: 0;
}